.main_screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  .wrapper-left {
    width: 200px;
    height: 420px;
    background:$primary-color;
  }
  .wrapper-center {
    width: 400px;
    height: 420px;
    background:$tertiary-color;
   
  }
  .wrapper-right {
    width: 200px;
    height: 420px;
    background:$primary-color;
  }
}
